/*-- scss:defaults --*/
/* css styles */

/* Import the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Chivo');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import url('https://fonts.googleapis.com/css2?family=Eb+Garamond');


.Reactable .rt-thead  {
  background-color: #63806f;
  color: white;
  font-family: Martel Sans;
  font-size: 0.85em;
}

.Reactable .rt-tbody  {
  font-family: Roboto;
  font-size: 0.85em;
  font-weight: 100;
}